<div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <h3>Lista de comentarios</h3>        
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-right">Nuevo Comentario</button>
    </div>
</div>
<br>
<br>
<table class="table table-sm table-hover">
    <thead> 
        <th>Titulo</th>
        <th>Fecha</th>
        <th>Eliminar</th>
        <th>Editar</th>
    </thead>
    <tbody *ngFor = "let listComments of comments">
        <td>{{listComments.title}}</td>
        <td>{{listComments.creation}}</td>
        <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
        <td><button class="btn btn-primary btn-sm">Editar</button></td>
    </tbody>
</table>
